.nav-tabs{
    *zoom: 1;
    list-style: none;
}

.nav>li>a {
    display: block;
}

.nav-tabs:before,
.nav-tabs:after {
    display: table;
    line-height: 0;
    content: ""
}

.nav-tabs:after {
    clear: both
}

.nav-tabs>li {
    float: left
}

.nav-tabs>li>a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs>li {
    margin-bottom: -1px
}

.nav-tabs>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    border-color: #eee #eee #ddd
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}

.nav-tabs.nav-stacked {
    border-bottom: 0
}

.nav-tabs.nav-stacked>li>a {
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.nav-tabs.nav-stacked>li:first-child>a {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px
}

.nav-tabs.nav-stacked>li:last-child>a {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px
}

.nav-tabs.nav-stacked>li>a:hover,
.nav-tabs.nav-stacked>li>a:focus {
    z-index: 2;
    border-color: #ddd
}

.nav-tabs .dropdown-menu {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px
}

.nav-tabs .dropdown-toggle .caret {
    margin-top: 8px
}

.nav .active .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff
}

.nav-tabs .active .dropdown-toggle .caret {
    border-top-color: #555;
    border-bottom-color: #555
}

.nav-tabs .open .dropdown-toggle,
.nav>li.dropdown.open.active>a:hover,
.nav>li.dropdown.open.active>a:focus {
    color: #fff;
    background-color: #999;
    border-color: #999
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
    opacity: 1;
    filter: alpha(opacity=100)
}

.tabs-stacked .open>a:hover,
.tabs-stacked .open>a:focus {
    border-color: #999
}

.tabbable {
    *zoom: 1
}

.tabbable:before,
.tabbable:after {
    display: table;
    line-height: 0;
    content: ""
}

.tabbable:after {
    clear: both
}

.tab-content {
    overflow: auto
}

.tabs-below>.nav-tabs,
.tabs-right>.nav-tabs,
.tabs-left>.nav-tabs {
    border-bottom: 0
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active,
.pill-content>.active {
    display: block
}

.tabs-below>.nav-tabs {
    border-top: 1px solid #ddd
}

.tabs-below>.nav-tabs>li {
    margin-top: -1px;
    margin-bottom: 0
}

.tabs-below>.nav-tabs>li>a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.tabs-below>.nav-tabs>li>a:hover,
.tabs-below>.nav-tabs>li>a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent
}

.tabs-below>.nav-tabs>.active>a,
.tabs-below>.nav-tabs>.active>a:hover,
.tabs-below>.nav-tabs>.active>a:focus {
    border-color: transparent #ddd #ddd #ddd
}

.tabs-left>.nav-tabs>li,
.tabs-right>.nav-tabs>li {
    float: none
}

.tabs-left>.nav-tabs>li>a,
.tabs-right>.nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px
}

.tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd
}

.tabs-left>.nav-tabs>li>a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px
}

.tabs-left>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
    border-color: #eee #ddd #eee #eee
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover,
.tabs-left>.nav-tabs .active>a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #fff
}

.tabs-right>.nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd
}

.tabs-right>.nav-tabs>li>a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0
}

.tabs-right>.nav-tabs>li>a:hover,
.tabs-right>.nav-tabs>li>a:focus {
    border-color: #eee #eee #eee #ddd
}

.tabs-right>.nav-tabs .active>a,
.tabs-right>.nav-tabs .active>a:hover,
.tabs-right>.nav-tabs .active>a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #fff
}

.nav-tabs .open .dropdown-toggle,
.nav>li.dropdown.open.active>a:hover,
.nav>li.dropdown.open.active>a:focus {
    color: #fff;
    background-color: #2f5d7c;
    border-color: #2f5d7c
}

.nav-tabs>li>a {
    text-decoration: none
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    text-decoration: none
}

.nav-tabs {
    border-bottom: 1px solid #d7e0e7
}

.nav-tabs>li>a {
    background: #2f5d7c;
    border: 1px solid transparent;
    color: #fff
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    background-color: #002145;
    border: 1px solid #002145;
    color: #fff
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:active,
.nav-tabs>.active>a:focus {
    background-color: #002145;
    border: 1px solid #002145;
    border-bottom-color: transparent;
    color: #fff;
    cursor: default;
    text-decoration: none
}

.nav-tabs.nav-stacked>li>a {
    border: 1px solid #d7e0e7
}

.tabs-below>.nav-tabs>li>a:hover,
.tabs-below>.nav-tabs>li>a:focus {
    border: 1px solid #002145
}

.tabs-below>.nav-tabs>.active>a,
.tabs-below>.nav-tabs>.active>a:hover,
.tabs-below>.nav-tabs>.active>a:focus {
    border: 1px solid #002145
}

.tabs-left>.nav-tabs>li>a {
    border-color: #2f5d7c
}

.tabs-left>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
    border-color: #002145
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover,
.tabs-left>.nav-tabs .active>a:focus {
    border-color: #002145
}

.tabs-right>.nav-tabs>li>a:hover,
.tabs-right>.nav-tabs>li>a:focus {
    border-color: #002145
}

.tabs-right>.nav-tabs .active>a,
.tabs-right>.nav-tabs .active>a:hover,
.tabs-right>.nav-tabs .active>a:focus {
    border-color: #002145
}

.tabs-right>.nav-tabs {
    border-left: 1px solid #d7e0e7
}

.nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"].icon-large {
    line-height: .9em
}

@media print {
    .nav .nav-tabs a:link:after {
        content: none
    }
    .nav-tabs>.active>a,
    .nav-tabs>.active>a:hover {
        border: 0;
        color: #000;
        font-weight: 700;
        border-bottom: 2px solid #000
    }
    .nav-tabs>li>a {
        color: #000;
        border: 0
    }
}