.ubc-wiki-embed-default-view{
    padding: 40px;
    text-align: center;
    background: #dadada;

    &__heading{
        margin-top: 0 !important;
        font-size: 1.3rem !important;
        margin-bottom: 1rem !important;
    }
}

.editor-styles-wrapper{
    background: #fff !important;
}